__pycache__
cogs/__pycache__
utils/__pycache__
tag_testing/__pycache__
tag_testing/backup_tag_algo.py
tag_testing/testTag.py
resources/prefixes.json
resources/settings.json
error_footers/*.txt
REFACTORING
.env.testing
.venv
.vscode